/* API Page */

position: relative;
width: 1745px;
height: 877px;



/* API Page */

position: absolute;
width: 1745px;
height: 877px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Hero Center Image */

position: absolute;
width: 1440px;
height: 700px;
left: 152px;
top: 89px;



/* Background */

position: absolute;
width: 1440px;
height: 700px;
left: 0px;
top: 0px;

background: #F2F2F2;


/* Browser */

position: absolute;
width: 800px;
height: 480px;
left: 320px;
top: 357px;



/* Background */

position: absolute;
width: 800px;
height: 480px;
left: 320px;
top: 357px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 4px;


/* Group */

position: absolute;
width: 60px;
height: 12px;
left: 336px;
top: 373px;



/* Button */

position: absolute;
width: 12px;
height: 12px;
left: 336px;
top: 373px;

border: 1px solid #000000;
box-sizing: border-box;


/* Button */

position: absolute;
width: 12px;
height: 12px;
left: 360px;
top: 373px;

border: 1px solid #000000;
box-sizing: border-box;


/* Button */

position: absolute;
width: 12px;
height: 12px;
left: 384px;
top: 373px;

border: 1px solid #000000;
box-sizing: border-box;


/* Content */

position: absolute;
width: 787px;
height: 224px;
left: 298px;
top: 79px;



/* Button Primary */

position: absolute;
width: 240px;
height: 60px;
left: calc(50% - 240px/2 - 28px);
top: 243px;



/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 5px;


/* Text */

position: absolute;
height: 22px;
left: 25px;
right: 24px;
top: calc(50% - 22px/2);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Subtitle */

position: absolute;
width: 506px;
height: 51px;
left: calc(50% - 506px/2 - 28px);
top: 168px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Title */

position: absolute;
width: 787px;
height: 57px;
left: calc(50% - 787px/2 - 28.5px);
top: 79px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Naviation Left */

position: absolute;
width: 1745px;
height: 70px;
left: 0px;
top: 0px;



/* Naviation Left */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Button Primary */

position: absolute;
left: 87.5%;
right: 2.78%;
top: 18.75%;
bottom: 18.75%;



/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 5px;


/* Text */

position: absolute;
height: 22px;
left: 25px;
right: 23.65px;
top: calc(50% - 22px/2 + 0.12px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Links */

position: absolute;
width: 202.53px;
height: 22px;
left: 1266.34px;
top: 23.97px;



/* Link */

position: absolute;
left: 72.57%;
right: 27.43%;
top: 34.24%;
bottom: 34.33%;




/* Link */

position: absolute;
left: 76.81%;
right: 23.19%;
top: 34.24%;
bottom: 34.33%;




/* Link */

position: absolute;
left: 81.6%;
right: 15.82%;
top: 34.24%;
bottom: 34.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;



/* Links */

position: absolute;
width: 323.83px;
height: 22px;
left: 189.04px;
top: 23.97px;



/* Link */

position: absolute;
left: 10.83%;
right: 86.36%;
top: 34.24%;
bottom: 34.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;



/* Link */

position: absolute;
left: 16.39%;
right: 79.37%;
top: 34.24%;
bottom: 34.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;



/* Link */

position: absolute;
left: 21.94%;
right: 75.65%;
top: 34.24%;
bottom: 34.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;



/* Link */

position: absolute;
left: 27.5%;
right: 70.61%;
top: 34.24%;
bottom: 34.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;



/* Logo */

position: absolute;
left: 2.78%;
right: 91.32%;
top: 28.12%;
bottom: 30.45%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* identical to box height */
text-transform: uppercase;

color: #000000;



/* Screen Shot 2021-07-19 at 2.13 1 

position: absolute;
width: 167px;
height: 180px;
left: 557px;
top: 540px;

background: url(Screen Shot 2021-07-19 at 2.13.png); */
