html {
  background: #f3f3f3;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(50%,#ffffff));
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  background: -o-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  background: -ms-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  background: linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 );
  height: 100%;
}

.wrapper {
  margin: auto;
  padding: 25px 0px;
  width: 650px;
}

.pad {
  height: 50px;
  margin: auto;
  padding: 25px 0px;
  width: 650px;
}

h1, h4 {
  align-self: center;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  margin: 0; 
}
h1 { 
  font-size: 24pt;
}
h4 {
  color: #aaa;
  font-size: 16pt; 
}

header {
  margin-bottom: 20px;
  padding-right: 30px;
  text-align: center;
}

/* figure {
  float: left;
} */

figure img {
  max-width: 350px;
}

section {
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16pt;
  line-height: 130%;
  width: 300px;
}

img {
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.features {
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16pt;
    line-height: 150%;
    width: 350px;
    margin-top: 20px;
    position:relative;
    text-align: left;
    padding-left: 50px;
}

summary::-webkit-details-marker {
  display: none
}

summary > div {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: middle;
}

details {
  font-size: 20px;
}

summary {
  display: block
}

summary:before {
  content: "►";
  margin: 0px 10px 0 0;
  width: 20px;
}

details[open] summary:before {
  content: "▼";
}
