/**Home**/
#home-section {
	height: 100vh;
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}


#landing-container {
	padding-right: 4%;
}

#landing-text {
	max-width:90%;
	text-align: center;
}

.title {
	position: relative;
	left: 20px;
	max-width: 100%;
	font-size: 350%;
	margin-top: 5%;
	margin-bottom: 2%;
    
}

#profile-icon {
	width: 500px;
}

div {  
    vertical-align: middle;  
}

img.center {
    display:block;
    margin:auto;
}


.page-content {
	width:100%;
}
