{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="static/css/about.css" />

    <div class="about-section">
        <h1>About The Website</h1>
        <p style="font-size: 18px">Receive feedback on your program in a easy manner.</p>
        <p style="font-size: 18px">Created by a small team of college students.</p>
    </div>
    <h2 style="text-align:center">The Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="static/images/Nature-Pic.jpg" alt="Test Image" style="width:100%">
                <div class="container">
                <h2>Edwin Hernandez</h2>
                <p>Student at University of North Texas</p>
                <p>edwinhern.16@gmail.com</p>
                </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <img src="static/images/Nature-Pic.jpg" alt="Test Image" style="width:100%">
                <div class="container">
                <h2>Patricia Reimao</h2>
                <p>Student at Kennesaw State University</p>
                <p>pjsolano2002@gmail.com</p>
                </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <img src="static/images/Nature-Pic.jpg" alt="Test Image" style="width:100%">
                <div class="container">
                <h2>Jacob Gil</h2>
                <p>Student at University of Georgia</p>
                <p>jacobgil325@gmail.com</p>
<!--                 <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}