{% extends "admin_layout.html" %}
{% block content %}
    <link rel="stylesheet" href="static/css/admin.css"/>
    <link rel='stylesheet' href='https://maxcdnbootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <h1 class='display-4 text-center'> Hello, {{name}}</h1>

<div class='text-center container-fluid'>
    <table class="table table-dark table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Rating</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
       <tbody>
        {% for response in responses %}
        <tr>
            <th scope="row">{{response.name}}</th>
            <td>{{response.rating}}
            </td>
            <td>{{response.comments}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>   
</div>
 

{% endblock %}