{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="static/css/home.css" />

  
    <div class="page-content"> 
            <!--Home Page-->
			<section id="home-section">
				<div class="container row">
					<div class="container row" id="landing-container">
                        <img class="center" src="static/images/pic3.jpg" id="profile-icon">
						<div class="container column" id="landing-text">
							<h1 class="title">WELCOME</h1>
						</div>
                        <div class="subtitle">
                            Our solution that provide simple access
                        </div>
					</div>
				</div>
			</section>
        
    </div>

{% endblock %}
