{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="static/css/home.css" />

  
    <div class="page-content"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">
                   {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            <!--Home Page-->
			<section id="home-section">
				<div class="container row">
					<div class="container row" id="landing-container">
                        <img class="center" src="static/images/pic3.jpg" id="profile-icon">
						<div class="container column" id="landing-text">
							<h1 class="title">WELCOME</h1>
						</div>
                        <div class="subtitle">
                            Our solution that provides simple access
                        </div>
					</div>
				</div>
			</section>
        
    </div>

{% endblock %}
