<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.41, maximum-scale=1"
    />
    <meta name="description" content="Submission Form" />
    <meta name="keywords" content="SEO Submission Form" />

    <link rel="stylesheet" href="static/css/layout.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ufg7hqz.css" />

    <title>Feedback</title>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      $(document).ready(function () {
        $("#google_translate_element").bind(
          "DOMNodeInserted",
          function (event) {
            $(".goog-te-menu-value span:first").html("Translate");
            $(".goog-te-menu-frame.skiptranslate").load(function () {
              setTimeout(function () {
                $(".goog-te-menu-frame.skiptranslate")
                  .contents()
                  .find(".goog-te-menu2-item-selected .text")
                  .html("Translate");
              }, 100);
            });
          }
        );
      });
    </script>
  </head>

  <body>
    <!--Navigation Bar-->
    <div id="nav">
      <a href="/" class="nav-item right">FEEDBACK</a>
      <a href="/signup" class="nav-item left">SIGN UP</a>
      <a href="/login" class="nav-item left">LOGIN</a>
      <a href="/api" class="nav-item left">API</a>
      <a href="/about" class="nav-item left">ABOUT</a>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">
                   {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
