<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.41, maximum-scale=1"
    />
    <meta name="description" content="Submission Form" />
    <meta name="keywords" content="SEO Submission Form" />

    <link rel="stylesheet" href="static/css/layout.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ufg7hqz.css" />

    <title>Feeback</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-153644395-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-153644395-1");
    </script>
  </head>

  <body>
    <!--Navigation Bar-->
    <div id="nav">
      <a href="/" class="nav-item right">FEEDBACK</a>
      <a href="#signup-section" class="nav-item left">SIGN UP</a>
      <a href="#login-section" class="nav-item left">LOGIN</a>
      <a href="#api-section" class="nav-item left">API</a>
      <a href="/about" class="nav-item left">ABOUT</a>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
