{% extends "layout.html" %}
{% block content %}
    <div class="content-section"> <!-- CSS styling -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">
                   {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <h1>Login</h1>
        
        <form method="POST" action=""> <!-- POST sends the info of the form -->
            {{ form.hidden_tag() }} <!-- passes in your SECRET_KEY -->
            <fieldset class="form-group"> <!-- more CSS styling -->
              
     <div class="form-group">
         {{ form.username.label(class="form-control-label") }}
         {% if form.username.errors %}
           {{ form.username(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.username.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.username(class="form-control form-control-lg") }}
       {% endif %}
     </div>
         {{ form.password.label(class="form-control-label") }}
         {% if form.password.errors %}
           {{ form.password(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.password(class="form-control form-control-lg") }}
       {% endif %}
                <br>
                 {{ form.submit(class="btn btn-outline-info") }}
                </fieldset>
         </form>
     </div>

{% endblock %}