{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="static/css/survey.css" />
     <div class="content-section"> <!-- CSS styling -->
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">
                   {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <h1 id="title">Survery Form</h1>

        <form id="survey-form" method="POST" action=""> <!-- POST sends the info of the form -->
            {{ form.hidden_tag() }} <!-- passes in your SECRET_KEY -->
            <fieldset class="form-group"> <!-- more CSS styling -->
  <!-- ------------------Survey Details---------------------------- -->
     <div class="fieldset">
         <div id="name">
             {{ form.name.label }}
        {{ form.name(size=32, placeholder='Insert your name') }}
         </div>
         <div id="email">
             {{ form.email.label }}
        {{ form.email(size=32, maxlength=254, minlength=3,
        placeholder='Insert your email') }}
        
         {% for error in form.email.errors %}
        <span id="error">{{ error }}</span>
        {% endfor %}
         </div>
        
         {% if form.rating.errors %}
           <div class="invalid-feedback">
             {% for error in form.rating.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
         <div id="rating">
           <tr>
         <td>{{ form.rating.label }}</td> 
         <td>{{ form.rating }}</td> 
         </tr>   
         </div>
       {% endif %}
       <div id="comments-box">
            <p>What do you like about the SEO?</p>
            {{ form.text_area(cols=40, rows=5) }}
        </div>
     </div>
                    
                
     <br>
     <div id="btn">
         {{ form.submit() }}
     </div>
            </fieldset>
       </form>
</div>

{% endblock %}