{% extends "layout.html" %}

{% block content %}
     <div class="content-section"> <!-- CSS styling -->
        <h1>Suvery Form</h1>
        <form method="POST" action=""> <!-- POST sends the info of the form -->
            {{ form.hidden_tag() }} <!-- passes in your SECRET_KEY -->
            <fieldset class="form-group"> <!-- more CSS styling -->
            
     <div class="form-group">
         <label>Rating</label>
         {% if form.rating.errors %}
           {{ form.rating(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.rating.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.rating(class="form-control form-control-lg") }}
       {% endif %}
     </div>
                
                
     <br>
     {{ form.submit(class="btn btn-outline-info") }}
            </fieldset>
       </form>
</div>
{% endblock content %}